<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marktony.zhihudaily">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".app.App"
        android:theme="@style/AppTheme">

        <!--
        configChanges参数的作用是不让activity重启
        3.2之前的sdk只需要配置前面两个值:keyboardHidden|orientation
        3.2之后的sdk必须配置三个值keyboardHidden|orientation|screensize
        -->
        <activity
            android:name=".homepage.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detail.ZhihuDetailActivity"
            android:label="@string/title_activity_read" />
        <activity
            android:name=".settings.SettingsPreferenceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".about.AboutPreferenceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".detail.GuokrDetailActivity"
            android:label="@string/title_activity_guokr_read"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".detail.DoubanDetailActivity"
            android:label="@string/title_activity_read"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".license.OpenSourceLicenseActivity"
            android:label="@string/open_source_license"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".innerbrowser.InnerBrowserActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".service.CacheService" />

    </application>

</manifest>